{% extends '/manager/layout.html' %}

{% block title %}{% endblock %}

{% block CSS %}
<style type="text/css">
	#table {
		width:80%;
		margin-top:40px;

		position:absolute;
		left:50%;
		transform:translate(-50%, 0);

		text-align:center;
	}

	#control-form { text-align:left; }
	#create-btn { float:right; }

	#table table { width:100%; }
	#table table thead {
		border-top:1px solid #7d7d7d;
		border-bottom:1px solid #7d7d7d;
	}
	#table table tbody { border-bottom:1px solid #7d7d7d; }

	#more-btn { margin-top:20px; }

	#card-ready {
		display:none;
		margin-top:50px;
	}

	#card { display:none; }

	@media (min-width: 1600px) {
		#table {
			width:45%;
			margin-left:40px;

			left:0;
			transform:none;
		}

		#card-ready {
			display:inline;

			width:40%;
			height:80%;

			position:fixed;
			top:50%;
			right:50px;
			transform:translate(0, -50%);

			border:10px solid lightgray;
			border-radius:30px;
		}

		#card-ready span {
			color:lightgray;
			font-size:300%;
			font-weight:600;

			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
		}

		#card {
			visibility:hidden;
			display:inline;

			width:45%;
			height:85%;

			position:fixed;
			top:50%;
			right:40px;
			transform:translate(0, -50%);

			overflow-y:scroll;

			margin-top:40px;
			padding:40px 20px;
		}

		#card .control-box {
			position:absolute;
			top:10px;
			right:20px;
		}
	}
</style>
{% endblock %}

{% block JS %}{% endblock %}

{% block content %}
<content>
	<div id="table">
		<div id="control-form" class="uk-margin-bottom">
			<button class="uk-button uk-button-default">Types</button>
			<div uk-dropdown>
				<ul class="uk-nav uk-dropdown-nav">
					{% block SearchType %}{% endblock %}
				</ul>
			</div>
			<div class="uk-inline uk-width-1-2">
				<span class="uk-form-icon" uk-icon="icon: search"></span>
				<input class="uk-input" type="text" placeholder="Search">
			</div>

			<button id="create-btn" class="uk-button uk-button-primary">Create</button>
		</div>

		<table class="uk-table uk-table-hover uk-text-center">
			<thead>{% block TableThead %}{% endblock %}</thead>

			<tbody>{% block TableBody %}{% endblock %}</tbody>
		</table>

		<a id="more-btn">Get more</a>
	</div>

	<div id="modal" uk-modal>
		<div class="uk-modal-dialog uk-modal-body">
			<h2 class="uk-modal-title">{% block ModalTitle %}{% endblock %}</h2>
			<button class="uk-modal-close-default" type="button" uk-close></button>

			<div class="detail"></div>

			<p class="uk-text-right">
				<button class="uk-button uk-button-default uk-modal-close">Cancel</button>
				<button class="uk-button uk-button-danger"><span class="uk-margin-small-right" uk-icon="icon: lock"></span>Unlock</button>
			</p>
		</div>
	</div>

	<div id="card-ready">
		<span>Select in left side table.</span>
	</div>

	<div id="card" class="uk-card uk-card-default uk-card-body uk-card-hover">
		<h2 class="uk-heading-small">{% block CardTitle %}{% endblock %}</h2>

		<p class="control-box uk-text-right">
			<button class="uk-button uk-button-default">Reset</button>
			<button class="uk-button uk-button-danger"><span class="uk-margin-small-right" uk-icon="icon: lock"></span>Unlock</button>
		</p>

		<div id="detail">{% block detail %}{% endblock %}</div>
	</div>
</content>
{% endblock %}
