@keyframes show_box {
	from { opacity:0; }
	to { opacity:1; }
}

#item-ID {
	position:absolute;
	top:30px;
	left:50px;
}

#wrap {
	padding:50px;
	padding-top:120px;
}

#item-info>div {
	overflow:auto;
}

#item-info .uk-grid {
	width:100%;
	margin:0 auto;
}

#item-info textarea {
	resize:vertical;
}

#payment-method .setting-btn {
	position:absolute;
	top:20px;
	right:20px;
}

#seat_table {
	height:500px;
	overflow:auto;
}

#control-box {
	width:210px;
	height:50px;

	position:absolute;

	top:30px;
	right:50px;
}

#black-background {
	display:none;

	width:100%;
	height:100%;
	background-color:black;
	opacity:0.5;

	position:fixed;
	top:0;
	left:0;
}

#markdown_box, #markdown_view_box, #seat_box {
	visibility:hidden;
	animation:show_box .5s forwards;

	width:80%;
	height:80%;

	position:fixed;
	top:10%;
	left:10%;

	background-color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	z-index:10;
}

#seat_box .title {
	margin-top:30px;
	margin-left:30px;
}

#seat_box .close_btn {
	position:absolute;
	top:30px;
	right:30px;
}

#seat_box_toolbox {
	width:30%;
	height:80%;

	overflow-y:auto;

	position:absolute;
	left:20px;
	bottom:30px;
}

#seat_canvas {
	background-color:lightgray;
}

#seat_box .canvas-wrap {
	width:65%;
	height:80%;

	position:absolute;
	right:20px;
	bottom:30px;

	overflow:scroll;
}

#seat_tresh {
	width:100px;
	height:50px;

	background-color:white;
	border:1px solid black;

	text-align:center;
	line-height:25px;

	position:absolute;
	right:30px;
	bottom:30px;
}

.drop-target {
	background-color:black;
}

#markdown_box input[name="title"] {
	margin-top:20px;
	margin-left:20px;
}

#markdown_view_box .title {
	font-size:30px;

	margin-top:15px;
	margin-left:20px;
}

#markdown_box .control,
#markdown_view_box .control {
	position:absolute;
	top:20px;
	right:20px;
}

#markdown_box .editor {
	margin-top:30px;
	height:80%;
}

#markdown_view_box .viewer {
	margin-top:30px;
	height:85%;
	padding:20px;
}

#markdown-viewer {
	height:100%;
	overflow-y:scroll;
}

#markdown_box.full-screen,
#markdown_view_box.full-screen {
	width:100%;
	height:100%;
	top:0;
	left:0;
}

#markdown_box.full-screen .editor,
#markdown_view_box.full-screen .viewer {
	margin-top:0;
	width:100%;
	height:90%;

	position:absolute;
	top:10%;
}

#alert-area {
	position:fixed;
	top:100px;
	left:50px;
}
