#loading-bg {
	width:100%;
	height:100%;
	background-color:white;

	position:fixed;
	top:0;
	left:0;
}

#loading {
	width:300px;
	height:300px;

	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

	text-align:center;
}

#loading * {
	text-align:center;
}
