@keyframes box_text_hover { from {} to { background-color:#545454; color:white; } }

#title {
	margin:30px 40px;
}

#title .item-type {
	padding:10px;
	color:#545454;
	border:1px solid #545454;
}
#title .item-type:hover { animation:box_text_hover .5s forwards; }

#control-box {
	width:200px;
	height:50px;

	position:absolute;
	top:20px;
	right:20px;
}

#control-box * {
	width:100%;
}

@media (min-width: 600px) {
	#control-box {
		width:320px;
	}

	#control-box * {
		width:auto;
	}
}

content {
	height:80%;

	position:relative;
	top:20px;

	margin:0 auto;
}

content>div {
	height:100%;
	overflow-y:auto;
}

content .uk-accordion-content * {
	margin-bottom:10px;
}

@media (min-width: 960px) {
	#option-form>select {
		width:70%;
	}

	#option-form .add-btn {
		width:28%;
		float:right;
	}

	#seat-form * {
		width:48%;
	}
}

#black-bg, #seat-canvas, #terms-view, #notice-area {
	visibility:hidden;
}

#black-bg {
	width:100%;
	height:100%;

	position:fixed;
	top:0;
	left:0;

	background-color:black;
	opacity:0.5;
}

#terms-view {
	width:95%;
	min-height:30px;
	max-height:80%;

	padding:20px;
	background-color:white;

	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

#terms-view>div {
	visibility:hidden;
}

#terms-view .title {
	font-size:30px;
	padding:10px;
}

#terms-view .close {
	position:absolute;
	top:10px;
	right:20px;
}

#terms-view .content {
	width:100%;
	height:90%;
	overflow-y:scroll;

	margin-top:30px;
}

#terms-view .content * {
	font-family:monospace;
}
