
@keyframes drop_target_anim { from {} to { background-color:#ff8a8a; } }

.drag-drop {
	touch-action: none;
	user-select: none;
}

.drop-target {
	animation:drop_target_anim .5s forwards;
}

.seat {
	width:50px;
	height:50px;
}

.seat img {
	width:100%;
	height:100%;
}

#seat_tresh {
	width:200px;
	height:50px;

	border:1px solid black;

	position:absolute;
	right:30px;
	bottom:30px;
}
