{% extends '/manager/layout.html' %}

{% block content %}
<content>
	<div class="uk-padding">
		<h1>Open Ticket System Manager</h1>
		<p>Open Ticket is open source web application for ticketing.</p>
		<p><a target="_blink" href="https://gitlab.com/yejun614/open-ticket">Project Repository</a></p>
	</div>

</content>
{% endblock %}
