{% extends '/manager/layout.html' %}

{% block title %}Item edit{% endblock %}

{% block CSS %}
<!-- CUSTOM CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/item-add-style.css">
<link rel="stylesheet" type="text/css" href="/static/css/seat_manager_style.css">

<link rel="stylesheet" type="text/css" href="/static/css/loading.css">
{% endblock %}

{% block JS %}
<script type="text/javascript" src="/static/script/loading.js"></script>
<script type="text/javascript">
	var paymentSelector = undefined;

	const res = [
		// TOAST UI (Select Box)
		"https://uicdn.toast.com/select-box/latest/toastui-select-box.css",
		"https://uicdn.toast.com/select-box/latest/toastui-select-box.js",

		// TOAST UI (Editor) Styles
		"https://uicdn.toast.com/tui-editor/latest/tui-editor.css",
		"https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css",
		"https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css",
		"https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css",
		// TOAST UI (Editor) Scripts
		"https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js",

		// interact.js
		"https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js",

		// CUSTOM JS
		"/static/script/item_add/manager.js",
		"/static/script/item_add/seat_canvas.js",
		"/static/script/item_add/editor.js",
		"/static/script/item_add/seat.js",
		"/static/script/item_add/terms.js",
	];

	load_resources(res, () => {
		// Payment Method Selector
		paymentSelector = new tui.SelectBox($('#payment-method-selector')[0], {
			label: 'Payment Method',
			data: [
				{ label: 'No pay', value: 'no-pay', selected: true },
				{ label: 'User direct money transfer', value: 'UserDirectRemit' }
			]
		});

		$(document).ready(() => {
			// Init Seat Canvas Size
			resize_canvas();

			// Seat Canvas Size Event
			$('#canvas-setting input[name="width"], #canvas-setting input[name="height"]')
			.on('change paste keyup', (event) => {
				resize_canvas();
			});
		});
	});
</script>

{% endblock %}

{% block content %}
<content>
	<span id="item-ID" class="uk-text-primary uk-heading-small"></span>

	<div id="control-box">
		<button class="uk-button uk-button-primary" onclick="save_data();">SAVE</button>
		<button class="uk-button uk-button-danger" onclick="delete_data();">DELETE</button>
	</div>

	<div id="wrap" class="uk-child-width-expand@s" uk-grid>
		<div id="item-info">
			<h2 class="uk-heading-medium uk-text-primary">ITEM</h2>

			<ul uk-accordion>
				<li class="uk-open">
					<a class="uk-accordion-title" href="">1. Basic Information</a>
					<div class="uk-accordion-content">
						<div class="uk-margin">
							<p>ITEM Name (Title)</p>
							<input id="item_name" class="uk-input uk-width-1-1" type="text" placeholder="Title"><br />
						</div>

						<div class="uk-margin">
							<p>Description</p>
							<textarea id="item-description" class="uk-textarea" placeholder="Item description"></textarea>
						</div>

						<div class="uk-margin">
							<p>Select Type</p>
							<select id="item_type" class="uk-select">
								<option>Ticket</option>
								<option>Goods</option>
							</select>
						</div>
					</div>
				</li>

				<li>
					<a class="uk-accordion-title" href="">2. Price Table</a>
					<div class="uk-accordion-content">

						<table id="option_table" class="uk-table uk-table-striped">
							<thead>
								<tr>
									<td>OPTION</td>
									<td>PRICE</td>
									<td>DELETE</td>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						
						<div class="uk-margin">
							<input id="option_name" class="uk-input uk-width-1-4 uk-margin-small-right" type="input" placeholder="Option">
							<input id="option_price" class="uk-input uk-width-1-3 uk-margin-small-right" type="input" placeholder="KRW 1000">

							<button onclick="add_option();" class="uk-button uk-button-primary uk-width-1-4">ADD</button>
						</div>
					</div>
				</li>

				<li>
					<a class="uk-accordion-title" href="">3. Payment Method</a>
					<div class="uk-accordion-content">
						<div id="payment-method">
							<div class="uk-card uk-card-primary uk-card-body">
								<p class="method uk-text-lead">No pay</p>
								<div class="description uk-margin">
									<p>Do not anything on purchase request.</p>
								</div>

								<button class="setting-btn uk-button uk-button-default" onclick="setting_payment();">Setting</button>
							</div>

							<input name="method" type="hidden" value="">
						</div>

						<div class="uk-margin uk-grid uk-grid-small" uk-grid>
							<div id="payment-method-selector" class="uk-width-3-4"></div>
							<button class="uk-button uk-button-primary uk-button-small uk-width-expand" onclick="select_payment();">Select</button>
						</div>
					</div>
				</li>

				<li>
					<a class="uk-accordion-title" href="">4. Form Setting</a>
					<div class="uk-accordion-content">
						<p>Form name (template)</p>
						<input id="item_form" class="uk-input uk-width-1-1" type="input" value="default.html" placeholder="Item Page (form)">

						<p>Promotion page</p>
						<div class="uk-grid uk-grid-small" uk-grid>
							<button class="uk-width-1-2 uk-button uk-button-primary" onclick="open_editor('promotion');">Editor</button>
							<button class="uk-width-1-2 uk-button uk-button-secondary" onclick="open_viewer('promotion');">View</button>
						</div>
					</div>
				</li>

				<li>
					<a class="uk-accordion-title" href="">5. Input Extra Data</a>
					<div class="uk-accordion-content">
						
						<table id="extra_table" class="uk-table uk-table-striped">
							<thead>
								<tr>
									<td>KEY</td>
									<td>VALUE</td>
									<td>DELETE</td>
								</tr>
							</thead>
							<tbody></tbody>
						</table>

						<div id="extra_form" class="uk-margin">
							<input name="key" class="uk-input uk-width-1-4 uk-margin-small-right" type="input" placeholder="Key">
							<input name="value" class="uk-input uk-width-1-3 uk-margin-small-right" type="input" placeholder="Value">

							<button class="uk-button uk-width-1-4 uk-button-primary" onclick="add_extra_data();">ADD</button>
						</div>

					</div>
				</li>
			</ul>

		</div>

		<div id="seat-form">
			<h2 class="uk-heading-medium uk-text-primary">SEAT</h2>
			<p class="uk-text-warning">Ticket Type Item Only</p>

			<ul uk-accordion>
				<li>
					<a class="uk-accordion-title" href="">Seat Table</a>

					<table id="seat_table" class="uk-accordion-content uk-table uk-table-striped">
						<thead>
							<tr>
								<td><input id="seat_table_checkall" class="uk-checkbox" type="checkbox"></td>
								<td>NUM</td>
								<td>POSITION</td>
								<td>OPTIONS</td>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</li>
			</uk>

			<div class="uk-grid uk-grid-small" uk-grid>
				<button class="uk-button uk-button-primary uk-width-1-2" onclick="open_canvas();">EDIT</button>
				<button class="uk-button uk-button-danger uk-width-1-2" onclick="remove_seat();">DELETE</button>
			</div>
		</div>

		<div id="check-form">
			<h2 class="uk-heading-medium uk-text-primary">CHECK</h2>

			<ul uk-accordion>
				<li class="uk-open">
					<a class="uk-accordion-title" href="">Tags</a>
					<div class="uk-accordion-content">
						<p>Set Tags</p>
						<div id="item_tags"></div>

						<div id="item_tag_form" class="uk-margin uk-grid uk-grid-small" uk-grid>
							<input class="uk-input uk-margin-small-right uk-width-3-4" type="text" placeholder="Tag name">
							<button onclick="add_tag();" class="uk-button uk-button-primary uk-width-expand">ADD</button>
						</div>
					</div>
				</li>

				<li>
					<a class="uk-accordion-title" href="">Write the terms of service</a>
					<div class="uk-accordion-content">
						<table id="terms-table" class="uk-table uk-table-striped">
							<thead>
								<tr>
									<td>TITLE</td>
									<td>EDIT</td>
								</tr>
							</thead>

							<tbody></tbody>
						</table>

						<div id="terms-form" class="uk-margin uk-grid uk-grid-small" uk-grid>
							<input class="uk-width-3-4 uk-margin-small-right uk-input" type="text" name="title" placeholder="Title">
							<button class="uk-width-expand uk-button uk-button-primary" onclick="addTerms();">ADD</button>
						</div>
					</div>
				</li>

				<li>
					<a class="uk-accordion-title" href="">Public Setting</a>
					<div class="uk-accordion-content">
						<p>Allow Publish and Purchase</p>
						<label><input class="uk-radio uk-margin-small-right" type="radio" name="publish" value="allow-all">Allow</label><br />
						<label><input class="uk-radio uk-margin-small-right" type="radio" name="publish" value="allow-publish">Allow only publish, don't purchase</label><br />
						<label><input class="uk-radio uk-margin-small-right" type="radio" name="publish" value="prohibit" checked>Prohibit</label>
					</div>
				</li>				
			</ul>

		</div>
	</div>

</content>

<div id="black-background"></div>

<div id="seat_box">
	<h2 class="title uk-heading-small uk-text-primary">SEAT CANVAS</h2>
	<button class="close_btn uk-button uk-button-primary" onclick="close_canvas();">CLOSE</button>

	<div id="seat_box_toolbox" class="uk-card uk-card-default uk-card-body">
		<ul class="uk-tab" uk-tab uk-switcher="connect: #seat_box_toolbox .tab">
			<li class="uk-active"><a href="">OPTIONS</a></li>
			<li><a href="">FIGURES</a></li>
			<li><a href="">SETTING</a></li>
		</ul>

		<ul class="uk-switcher tab">
			<li id="canvas-seat">
				<ul class="uk-list uk-margin-small"></ul>
			</li>

			<li id="canvas-figure">
				<div class="uk-grid uk-grid-small" uk-grid>
					<button class="uk-button uk-button-default">Cycle</button>
					<button class="uk-button uk-button-default">Triangle</button>
					<button class="uk-button uk-button-default">Rectangle</button>
				</div>

				<ul class="uk-list uk-margin-small uk-margin"></ul>
			</li>

			<li id="canvas-setting">
				<p class="uk-margin">Width (px)</p>
				<input name="width" class="uk-input uk-width-1-1" type="text" value="1024" placeholder="Width">

				<p class="uk-margin">Height (px)</p>
				<input name="height" class="uk-input uk-width-1-1" type="text" value="720" placeholder="Height">
			</li>
		</ul>

	</div>
	
	<div class="canvas-wrap">
		<div id="seat_canvas">
			<div id="seat_tresh" class="dropzone tresh">Tresh</div>
		</div>
	</div>
	
</div>

<div id="markdown_box">
	<input name="title" class="uk-input uk-width-1-2" placeholder="Docs title">
	<input name="origin-title" type="hidden" value="">
	
	<div class="control">
		<button class="screen-btn uk-button uk-button-default" onclick="fullscreen_editor();">Full Screen</button>
		<button class="close-btn uk-button uk-button-secondary" onclick="close_editor();">Close</button>
		<button class="uk-button uk-button-primary" onclick="save_editor();">SAVE</button>
	</div>

	<div class="editor">
		<div id="markdown-editor"></div>
	</div>
</div>

<div id="markdown_view_box">
	<span class="title uk-text-lead"></span>

	<div class="control">
		<button class="screen-btn uk-button uk-button-default" onclick="fullscreen_viewer();">Full Screen</button>
		<button class="uk-button uk-button-primary" onclick="close_view();">Close</button>
	</div>

	<div class="viewer">
		<div id="markdown-viewer"></div>
	</div>
</div>

<div id="payment-setting" uk-modal>
	<div class="uk-modal-dialog uk-modal-body">
		<h2 class="uk-modal-title">Payment Setting</h2>

		<p class="uk-text-lead uk-margin">Account Holder</p>
		<input name="holder" class="uk-input" type="text" placeholder="Account Holder">

		<p class="uk-text-lead uk-margin">Account Bank</p>
		<input name="bank" class="uk-input" type="text" placeholder="Account Bank">

		<p class="uk-text-lead uk-margin">Account Number</p>
		<input name="number" class="uk-input" type="text" placeholder="Account Number">


		<p class="uk-text-right">
			<button class="uk-button uk-button-default uk-modal-close" onclick="clear_setting_payment();">Cancel</button>
			<button class="uk-button uk-button-primary" onclick="apply_setting_payment();">Save</button>
		</p>
	</div>
</div>

<div id="alert-area"></div>

<div id="loading-bg"></div>
<div id="loading">
	<span uk-spinner="ratio: 4.5"></span>
	<p id="page-title" class="uk-text-lead uk-text-primary">Load Resources,<br />please waiting for loading</p>
	<p class="uk-text-small">Hello, World!</p>
</div>

{% endblock %}
