{% extends '/manager/layout.html' %}

{% block CSS %}
<style type="text/css">
	#item-control {
		width:150px;

		position:absolute;
		right:50px;

		margin-top:30px;
	}

	#item-search {
		width:80%;
		padding-right:10px;

		position:absolute;
		top:30px;
		left:50%;

		transform:translate(-50%, 0);
	}

	#items {
		padding:50px;
		margin-top:20px;
	}

	#items .item-swap {
		padding:10px;
	}

	#items .item {
		font-size:20px;
		text-align:left;
	}

	#items .item-name {
		margin:0;
	}

	#items .tags {
		float:right;
	}

	#item .tags>span {
		margin:5px;
		font-size:40px;
	}

	@media (min-width:640px) {
		#item-control {
			width:250px;
		}

		#item-search {
			width:40%;
			left:50px;

			transform:none;
		}
	}

</style>
{% endblock %}

{% block JS %}
<script type="text/javascript">
	var itemSelectedCount = 0;

	$(document).ready(() => {
		$('#items .item').click((event) => {
			let el = event.target;

			if (el != event.currentTarget) {
				el = $(el).parent('.item');
			}

			if ($(el).attr('check') == "true") {
				$(el).removeClass('uk-card-primary');
				$(el).removeAttr('check');

				itemSelectedCount -= 1;
			} else {
				$(el).addClass('uk-card-primary');
				$(el).attr('check', "true");

				itemSelectedCount += 1;
			}

			if (itemSelectedCount > 0) {
				$('#item-remove-btn').removeAttr('disabled');
			} else {
				$('#item-remove-btn').attr('disabled', '');
			}
		});

		$('#item-search input[type="text"]').on('change paste keyup', (event) => {
			let search = $(event.target).val();

			$('#page-subtitle')[0].innerHTML = `Searching for "${search}" (0000/0000)`;
		});
	});

	function removeItem() {
		let el = $('#items .item');

		for (let n=0; n<el.length; n++) {
			let item = $(el[n])

			if (item.attr('check') == true) {
				// remove
			}
		}
	}

</script>
{% endblock %}

{% block content %}
<content>
	<div id="item-control">
		<a class="uk-button uk-button-primary uk-width-1-1" href="/manager/item/edit">ADD ITEM</a>
		<button id="item-remove-btn" class="uk-button uk-button-danger uk-width-1-1" disabled>REMOVE</button>
	</div>

	<div id="item-search">
		<div class="uk-inline uk-width-1-1">
			<span class="uk-form-icon" uk-icon="icon: search"></span>
			<input class="uk-input" type="text" placeholder="Search">
		</div>
	</div>

	<div id="items" class="uk-child-width-1-1@s uk-child-width-1-3@m uk-child-width-1-4@l uk-child-width-1-5@xl uk-grid-match uk-grid-column-small uk-grid-row-small" uk-grid>
		{% if items %}
		{% for item in items %}
		<div class="item-swap">
			<div class="item uk-card uk-card-default uk-card-body uk-card-hover">
				<span class="item-name uk-text-primary uk-card-title">{{ item['name'] }}</span>
				<div class="description">description</div>

				<div class="tags">
					<span class="uk-label uk-label-success">{{ item['type'] }}</span>

					{% for tag in item['tags'] %}
					<span class="uk-label">tag</span>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endfor %}

		{% else %}
		<span>No item.</span>

		{% endif %}

	</div>
</content>
{% endblock %}
