<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} - Open Ticket Control Panel</title>

	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/css/uikit.min.css" />

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/js/uikit-icons.min.js"></script>

	<!-- jQuery JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!-- Custom CSS -->
	{% block CSS %}{% endblock %}

	<style type="text/css">
		#main-nav {
			width:100%;

			background-color:#545454;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			position:fixed;
			top:0;
			left:0;
		}

		#main-nav * {
			color: #ffffff;
		}

		content {
			width:100%;
			position:absolute;
			top:80px;
		}

	</style>

	<!-- Custom JS -->
	{% block JS %}{% endblock %}
</head>

<body>
	{% block content %}{% endblock %}

	<nav id="main-nav" class="uk-navbar" uk-navbar>
		{% if 'manager' in session %}
		<div class="uk-navbar-left">
			<ul class="uk-navbar-nav">
				<li><a href="/manager"><span class="uk-margin-small-right" uk-icon="icon:home"></span>GENERAL</a></li>
				<li><a href="/manager/item"><span class="uk-margin-small-right" uk-icon="icon:thumbnails"></span>ITEM</a></li>
				<li><a href="/manager/ticket"><span class="uk-margin-small-right" uk-icon="icon:tag"></span>TICKET</a></li>
				<li><a href="/manager/user"><span class="uk-margin-small-right" uk-icon="icon:users"></span>MANAGER</a></li>
				<li><a href="/manager/payment"><span class="uk-margin-small-right" uk-icon="icon:credit-card"></span>PAYMENT</a></li>
				<li><a href="/manager/users"><span class="uk-margin-small-right" uk-icon="icon:cog"></span>SETTING</a></li>
				<li><a href="/manager/auth/logout"><span class="uk-margin-small-right" uk-icon="icon:sign-out"></span>LOGOUT</a></li>
			</ul>
		</div>
		{% endif %}

		<div class="uk-navbar-right">
			<ul class="uk-navbar-nav">
				<li class="uk-active"><a>manager only page</a></li>
			</ul>
		</div>
	</nav>

</body>
</html>
