{% extends '/manager/layout.html' %}

{% block title %}Sign in{% endblock %}

{% block CSS %}
	<style type="text/css">
		* { text-align:center; }

		#login-form {
			width:400px;
			height:300px;

			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
		}

		#login-form h1 {
			font-size:100px;
		}

		#message {
			text-align:center;
		}

	</style>
{% endblock %}

{% block JS %}
<!-- JS SHA512 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha512/0.8.0/sha512.min.js"></script>

<script type="text/javascript">
	function login() {
		let user_id = $('#userid').val();
		let user_pw = $('#userpw').val();

		let encrypted_pw = sha512(user_pw);

		$.ajax({
			url: '/manager/auth/login',
			method: 'POST',
			data: JSON.stringify({
				'id': user_id,
				'password': encrypted_pw
			}),
			contentType: 'application/json',
			dataType: 'json'
		})
		.done((data) => {
			if (data.success) {
				location.href = '/manager';
			} else {
				UIkit.notification({
					message: 'Wrong ID or Password',
					status: 'danger',
					pos: 'top-center',
					timeout: 5000
				});

				$('#message')[0].innerHTML = 'If you want to find the ID or password,<br />please contact system manager.';
			}
		})
		.fail((jqXHR, textStatus) => {
			UIkit.notification({
				message: 'System Error',
				status: 'danger',
				pos: 'top-center',
				timeout: 5000
			});

			$('#message')[0].innerHTML = 'Check your internet connection status <br />and contact system manager';
		});
	}

</script>
{% endblock %}

{% block content %}
<div id="login-form">
	<h1 class="uk-text-primary uk-margin-medium">manager</h1>
	<input id="userid" class="uk-input uk-width-1-1" type="text" placeholder="manager name">
	<input id="userpw" class="uk-input uk-width-1-1" type="password" placeholder="password">

	<button onclick="login();" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small">Sign in</button>

	<span id="message" class="uk-text-primary"></span>
</div>
{% endblock %}
