{% extends '/manager/view/TableView.html' %}

{% block title %}Tickets{% endblock %}

{% block JS %}
<!-- JsBarcode -->
<script src="/static/includes/JsBarcode.all.min.js"></script>

<script src="/static/script/ticket_manager.js"></script>
{% endblock %}

{% block SearchType %}
<li class="uk-active"><a>Email</a></li>
<li><a>Item</a></li>
<li><a>Datetime</a></li>
{% endblock %}

{% block TableThead %}
<tr>
	<td>AUTH</td>
	<td>EXPIRED</td>
	<td>EMAIL</td>
	<td>ITEM</td>
	<td>DATETIME</td>
</tr>
{% endblock %}

{% block ModalTitle %}Ticket Details{% endblock %}
{% block CardTitle %}Ticket Details{% endblock %}

{% block detail %}
<div class="tags uk-margin-small-left"></div>

<p class="uk-text-lead uk-margin">ID</p>
<input name="ticket_id" class="uk-input uk-width-1-1" type="text" value="" placeholder="Ticket ID" disabled>
<svg class="barcode"
	jsbarcode-value=""
	jsbarcode-textmargin="0"
	jsbarcode-fontoptions="bold">
</svg>

<p class="uk-text-lead uk-margin">Authentication</p>
<span class="check" name="auth"></span>
<button class="auth-btn uk-button"></button>

<p class="uk-text-lead uk-margin">User E-Mail</p>
<input name="user_email" class="uk-input uk-width-1-1" type="email" value="" placeholder="User email" disabled>

<p class="uk-text-lead uk-margin">Change Password</p>
<input name="user_pw" class="uk-input uk-width-1-1" type="password" value="" placeholder="Password" disabled>
<input name="user_pw_check" class="uk-input uk-width-1-1" type="password" value="" placeholder="Password check" disabled>

<p class="uk-text-lead uk-margin">ITEM & ITEM ID</p>
<input name="item_id" class="uk-input uk-width-1-1" type="text" value="" placeholder="Item ID" disabled>
<input name="item_name" class="uk-input uk-width-1-1" type="text" value="" placeholder="Item Name" disabled>

<p class="uk-text-lead uk-margin">OPTION<button class="uk-button uk-button-default uk-button-small uk-margin-left" uk-toggle="target: .option-wrap">OPEN / CLOSE</button></p>
<div class="option-wrap">
	<table name="option-table" class="uk-table uk-table-striped">
		<thead>
			<tr>
				<td><input class="uk-checkbox" type="checkbox"></td>
				<td>OPTION</td>
				<td>COUNT</td>
			</tr>
		</thead>

		<tbody></tbody>
	</table>
	<div class="uk-column-1-2">
		<button class="uk-button uk-button-primary" disabled>Add option</button>
		<button class="uk-button uk-button-danger" disabled>Remove</button>
	</div>
</div>

<p class="uk-text-lead uk-margin">SEAT<button class="uk-button uk-button-default uk-button-small uk-margin-left" uk-toggle="target: .seat-wrap">OPEN / CLOSE</button></p>
<div class="seat-wrap">
	<table name="seat-table" class="uk-table uk-table-striped">
		<thead>
			<tr>
				<td><input class="uk-checkbox" type="checkbox"></td>
				<td>NUM</td>
				<td>POSITION</td>
				<td>OPTION</td>
			</tr>
		</thead>

		<tbody></tbody>
	</table>
	<div class="uk-column-1-2">
		<button class="uk-button uk-button-primary" disabled>Add seat</button>
		<button class="uk-button uk-button-danger" disabled>Remove</button>
	</div>
</div>

<p class="uk-text-lead uk-margin">DATETIME</p>
<input name="datetime" class="uk-input uk-width-1-1" type="text" value="" placeholder="Datetime" disabled>

<p class="uk-text-lead uk-margin">EXPIRY_DATETIME</p>
<input name="expiry_datetime" class="uk-input uk-width-1-1" type="text" value="" placeholder="Expire datetime" disabled>

<p class="uk-text-lead uk-margin">EXPIRED</p>
<span class="check" name="expired"></span>
<button class="expire-btn uk-button"></button>

<!-- Detail Style CSS -->
<style type="text/css">
	.check {
		font-size:30px;
		padding:10px 30px;
		border:1px solid;
	}
</style>
{% endblock %}
