{% extends '/manager/view/TableView.html' %}

{% block title %}User{% endblock %}

{% block JS %}
<script src="/static/script/user_manager.js"></script>
{% endblock %}

{% block SearchType %}
<li class="uk-active"><a>ID</a></li>
<li><a>Username</a></li>
<li><a>Level</a></li>
{% endblock %}

{% block TableThead %}
<tr>
	<td>ID</td>
	<td>USERNAME</td>
	<td>LEVEL</td>
</tr>
{% endblock %}

{% block ModalTitle %}User Details{% endblock %}
{% block CardTitle %}User Details{% endblock %}

{% block detail %}
<p class="uk-text-lead uk-margin">User ID</p>
<input name="user_id" class="uk-input uk-width-1-1" type="text" value="" placeholder="User ID" disabled="">

<p class="uk-text-lead uk-margin">Username</p>
<input name="username" class="uk-input uk-width-1-1" type="text" value="" placeholder="User Name" disabled>

<p class="uk-text-lead uk-margin">Change Password</p>
<input name="change_pw" class="uk-input uk-width-1-1" type="text" value="" placeholder="Password" disabled>
<input name="change_pw_check" class="uk-input uk-width-1-1" type="text" value="" placeholder="Password check" disabled>

<p class="uk-text-lead uk-margin">Access Level</p>
<input name="level" class="uk-input uk-width-1-1" type="text" value="" placeholder="Access Level" disabled>
{% endblock %}
