<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ data['name'] }} - item purchase</title>

	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/css/uikit.min.css" />

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.2/dist/js/uikit-icons.min.js"></script>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!-- Purchase Page JS -->
	<script src="/static/script/purchase_page.js"></script>

	<!-- CUSTOM JS -->
	<script type="text/javascript">
		$(document).ready(() => {
			// Select Options
			$('#option-table thead input[type="checkbox"]').change((event) => {
				let el = $('#option-table tbody tr');
				for (let n=0; n<el.length; n++) {
					$(el[n]).find('input[type="checkbox"]')[0].checked = event.target.checked;
				}
			});

			setInterval(() => {
				let el = $('#option-table tbody tr');
				let result = false

				for (let n=0; n<el.length; n++) {
					let check = $(el[n]).find('input[type="checkbox"]')[0].checked;

					if (check) {
						result = true;
						break;
					}
				}

				if (result) {
					$('#option-remove-btn').removeAttr('disabled');
				} else {
					$('#option-remove-btn').attr('disabled', '');
				}

			}, 100);
		});

	</script>

	<!-- CUSTOM CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/purchase-default-style.css">
</head>

<body>
<div id="title">
	<span class="uk-heading-large uk-text-primary uk-text-lighter uk-margin-medium-right">{{ data['name'] }}</span>
	<span class="item-type uk-text-small uk-text-secondary uk-text-bold">{{ data['type'] }}</span>
</div>

<div id="control-box">
	<button class="uk-button uk-button-primary" onclick="request_purchase();">Request Purchase</button>
	<button class="uk-button uk-button-secondary" onclick="purchase_cancle();">Cancel</button>
</div>

<content class="uk-margin-left" uk-grid>
	<div id="item-info" class="uk-width-expand@m uk-card uk-card-default uk-card-body uk-card-hover uk-margin-right"></div>

	<div id="order-form" class="uk-width-1-3@m uk-card uk-card-default uk-card-body uk-card-hover uk-margin-right">
		<ul uk-accordion>
			<li class="uk-open">
				<a class="uk-accordion-title" href="">Personal Information</a>
				<div class="uk-accordion-content">
					<input class="uk-input uk-width-1-1" type="text" placeholder="Name">
					<input class="uk-input uk-width-1-1" type="email" placeholder="E-mail">
					<input class="uk-input uk-width-1-1" type="password" placeholder="Password">
				</div>
			</li>

			{% if data['type'] == 'Ticket' %}
			<li>
				<a class="uk-accordion-title" href="">Check Seats</a>
				<div class="uk-accordion-content">
					<table class="uk-table uk-table-striped">
						<thead>
							<tr>
								<td><input class="uk-checkbox" type="checkbox"></td>
								<td>NUM</td>
								<td>Position</td>
								<td>Option</td>
							</tr>
						</thead>

						<tbody>
						</tbody>
					</table>

					<div id="seat-form">
						<button class="uk-width-auto@m uk-button uk-button-primary">Select</button>
						<button class="uk-width-expand@m uk-button uk-button-danger" disabled>Remove</button>
					</div>
				</div>
			</li>
			{% endif %}

			<li>
				<a class="uk-accordion-title" href="">Select Options</a>
				<div class="uk-accordion-content">
					<table id="option-table" class="uk-table uk-table-striped">
						<thead>
							<tr>
								<td><input class="uk-checkbox" type="checkbox"></td>
								<td>Option</td>
								<td>Count</td>
								<td>Price</td>
							</tr>
						</thead>

						<tbody>
						</tbody>
					</table>

					<div id="option-form">
						<select class="uk-select">
						{% for option in data['prices'] %}
							<option value="{{ option }}" price="{{ data['prices'][option] }}">{{ option }} ({{ data['prices'][option] }})</option>
						{% endfor %}

						</select>

						<button onclick="add_option();" class="add-btn uk-width-auto@m uk-button uk-button-primary">Add</button>
						<button onclick="remove_options();" id="option-remove-btn" class="uk-width-expand@m uk-button uk-button-danger" disabled>Remove</button>
					</div>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href="">Payment Methods</a>
				<div class="uk-accordion-content">
					<select class="uk-select"></select>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href="">Accept the Terms</a>
				<div class="uk-accordion-content">
					<table id="terms-table" class="uk-table uk-table-striped">
						<tr class="open-ticket">
							<td>Open Ticket Software Open Source Licenses</td>
							<td><button onclick="show_terms_view('open-ticket');" class="uk-button uk-button-default uk-button-small">Accept</button></td>
							<input type="hidden" value="false">
						</tr>

					</table>

				</div>
			</li>

		</ul>
	</div>
</content>

<div id="black-bg"></div>

<div id="seat-canvas"></div>

<div id="terms-view">
	<div class="open-ticket">
		<span class="title">MIT License</span>
		<div class="close">
			<button class="uk-button uk-button-primary" onclick="accept_term('open-ticket');">accept</button>
			<button class="uk-button uk-button-default" onclick="hide_terms_view();">close</button>
		</div>

		<div class="content">
			<p>Contents</p>
		</div>
	</div>

</div>

<div id="notice-area"></div>

</body>
</html>
