{% extends 'layout.html' %}

{% block title %}Field Check{% endblock %}

{% block JS %}
<!-- QR CODE Generator -->
<script src="/static/includes/qrcode.min.js"></script>
{% endblock %}

{% block CSS %}
<style type="text/css">
	content {
		width:100%;
		height:100%;

		position:fixed;
		top:0;
		left:0;

		background-color:#262626;
	}

	#ticket {
		width:800px;
		height:300px;

		border:1px solid white;
		border-radius:10px;

		background-color:white;

		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
	}

	#qrcode {
		width:250px;
		height:250px;

		position:absolute;
		top:50%;
		left:30px;
		transform:translate(0, -50%);

		padding-right:20px;
		border-right:1px solid black;
	}

	#qrcode img {
		width:100%;
		height:100%;
	}

	#item {
		position:absolute;
		top:20px;
		left:330px;
	}

	#item span {
		font-size:15px;
	}

	#item .item_name {
		font-size:40px;
		color:#1e87f0;
	}

	#ticket-id {
		position:absolute;
		right:60px;
		bottom:20px;
	}

	#code {
		display:none;
	}

	#software {
		font-size:20px;
		color:#262626;

		position:absolute;
		top:140px;
		right:-90px;
		transform:rotate(90deg);
	}
</style>

{% endblock %}

{% block contents %}
<content>
{% if success %}
	<div id="code">{{ check_code }}</div>

	<div id="ticket">
		<div id="qrcode"></div>

		<div id="item">
			<span class="item_name">{{ ticket['item_name'] }}</span>

			<div>
				{% for option in ticket['option'] %}
				<div class="option">
					<span>{{ option }}</span>
					<span class="uk-margin-small-left">{{ ticket['option'][option] }}</span>
				</div>
				{% endfor %}
			</div>

			<div>
				{% for seat in ticket['seat'] %}
				<div class="seat">
					<span>{{ seat['num'] }}</span>
					<span class="uk-margin-small-left">{{ seat['position'] }}</span>
					<span class="uk-margin-small-left">{{ seat['option'] }}</span>
				</div>
				{% endfor %}
			</div>
		</div>

		<div id="ticket-id" value="{{ ticket['id'] }}"></div>
		<span id="software">------ OPEN TICKET ------</span>
	</div>

	<!-- Generate qrcode -->
	<script>
		let el = $('#qrcode')[0];
		let code = $('#code')[0].innerHTML;

		// Field Check Code
		new QRCode(el, {
			text: '',
			width: 256,
			height: 256,
			colorDark: "#ffffff",
			colorLight: "#000000",
			correctLevel : QRCode.CorrectLevel.H
		}).makeCode(code);

		// Ticket QRCode
		let ticket = $('#ticket-id')[0];
		new QRCode(ticket, {
			text: '',
			width: 64,
			height: 64,
			colorDark: "#ffffff",
			colorLight: "#000000",
			correctLevel : QRCode.CorrectLevel.H
		}).makeCode(code.slice(0, 10));

	</script>

{% else %}
	<div>
		<span>ERROR</span>
		<span>Sorry can not generate field check code.</span>
		<span>Please contact event manager or system manager.</span>
	</div>

{% endif %}
</content>

{% endblock %}
