{% extends 'layout.html' %}

{% block title %}Receipt{% endblock %}

{% block CSS %}
<style type="text/css">
	#receipt {
		width:80%;

		position:absolute;
		top:50px;
		left:50%;
		transform:translate(-50%, 0);
	}

</style>
{% endblock %}

{% block contents %}
<content>
	<div id="receipt" class="uk-card uk-card-default uk-card-body uk-card-hover">
		<h1 id="status_text">Receipt</h1>
		<p id="start_datetime">Ticket created at {{ ticket['datetime'] }}</p>
		<hr>

		<h3>Personal Information</h3>
		<p class="uk-text-lead uk-margin">Email</p>
		<p>{{ ticket['email'] }}</p>

		<p class="uk-text-lead uk-margin">Name</p>
		<p>{{ ticket['name'] }}</p>
		<hr>

		<h3>Payment Infomation</h3>
		{% for payment in paylog %}
		{{ payment }}
		<div>
			<p class="uk-text-lead uk-margin">Payment Method</p>
			<p></p>

			<p class="uk-text-lead uk-margin">Current Status</p>
			<p></p>

			<p class="uk-text-lead uk-margin">Last payment log</p>
			<p></p>

			<button class="uk-button uk-button-primary">Paylog view</button>
		</div>
		{% endfor %}
		<hr>

		<h3>Ticket</h3>
		<p class="uk-text-lead uk-margin">Options</p>
		{% for option in ticket['option'] %}
		<div class="uk-grid-small" uk-grid>
			<div class="uk-width-expand" uk-leader="fill: -">{{ option['name'] }} x {{ option['count'] }}</div>
			<div>{{ option['currency'] }} {{ option['price'] }}</div>
		</div>
		{% endfor %}

		<p class="uk-text-lead uk-margin">Seats</p>
		<table class="uk-table uk-table-striped">
			<thead>
				<tr>
					<td>NUM</td>
					<td>POSITION</td>
					<td>OPTION</td>
					<td>PRICE</td>
				</tr>
			</thead>

			<tbody>
			{% for seat in ticket['seat'] %}
				<tr>
					<td>{{ seat['num'] }}</td>
					<td>{{ seat['position'] }}</td>
					<td>{{ seat['option'] }}</td>
					<td>{{ seat['price'] }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<hr>

		<h3>Extra</h3>
		<p class="uk-text-lead uk-margin">Contact with manager</p>

		<p class="uk-text-lead uk-margin"><a href="https://gitlab.com/yejun614/open-ticket">Open Ticket Project</a></p>
		<p class="uk-text-small">First, Open Ticket Software is coding with passion and love in South Korea</p>
		<p class="uk-text-small">Open Ticket is free and open source software project to support selling and management of ticket or goods</p>
		<p class="uk-text-small">This software can uses in any person, company or any organization and Irrelevant about each sales or purchase act through open-ticket software</p>
	</div>
</content>
{% endblock %}
